Play.Catalog/src/Play.Catalog.Service/bin
Play.Catalog/src/Play.Catalog.Service/obj/Debug
Play.Common/src/Play.Common/bin
Play.Common/src/Play.Common/obj/Debug
Play.Infra/bin
Play.Inventory/src/Play.Inventory.Service/bin
Play.Inventory/src/Play.Inventory.Service/obj/Debug
Play.Catalog/src/Play.Catalog.Contracts/bin
Play.Catalog/src/Play.Catalog.Contracts/obj/Debug
packages